#cards {
    display: flex;
    justify-content: center;
    margin: 15px auto auto auto;
    padding-bottom: 15px;
}

.card-container {
    display: grid;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 0px 15px 15px 15px;
    width: 260px;
}

#card-one:hover,
#card-two:hover,
#card-three:hover {
    scale: 1.02;
    box-shadow: 0px 0px 2px;
}

.card-image {
    border-radius: 20px 20px 0 0;
    width: 260px;
    height: 220px;
    object-fit: cover;
}

.card-top {
    display: flex;
    align-items: center;
    padding: 10px 30px 0px 30px;
}

.card-top > h3 {
    font-family: 'Times New Roman', Times, serif;
}

.card-top > p {
    color: chocolate;
    font-weight: bold;
    margin-left: auto;
}

.card-middle {
    height: 180px;
}

.card-middle {
    padding: 0px 30px 0px 30px;
}

.card-bottom {
    padding: 0px 30px 30px 30px;
}

.order-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.order-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}