#hero {
    background-color: #495E57;
    max-height: 340px;
    display: flex;
    justify-content: center;
}

.hero-container {
    display: flex;
    width: 1600px;
    gap: 200px;
    justify-content: center;
}

.hero-text-container {
    width: 300px;
    margin-top: 0px;
}

.hero-title {
    font-size: 3em;
    color: gold;
    margin-top: 70px;
}

.hero-title, .hero-locale {
    line-height: 0;
    font-family: 'Times New Roman', Times, serif;
}

.hero-locale {
    margin-bottom: 36px;
    margin-top: -10px;
}

.hero-locale,
.hero-description {
    color: white;
}

.hero-description {
    margin-bottom: 25px;
}

.hero-button {
    background-color: gold;
    border: none;
    padding: 15px 30px 15px 30px;
    border-radius: 12px;
    font-weight: bolder;
    font-size: 1.1em;
}

.hero-button:hover {
    box-shadow: 0px 0px 10px gold;
}

.hero-button:active {
    scale: 0.95;
}

.hero-image {
    margin-top: 20px;
    border-radius: 20px;
    width: 360px;
    height: 380px;
    object-fit: cover;
}