#promo {
    display: flex;
    gap: 27%;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 80px auto auto auto;
}

#promo > h2 {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
}