nav ul {
    list-style: none;
    font-weight: 600;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    margin: 5px 10px 5px 10px;
}

nav ul .nav-link {
    color: black;
    text-decoration: none;
}

nav ul .nav-link:active {
    text-decoration: underline;
}

nav ul .nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

@media screen and (max-width: 400px) {
    nav ul li {
        display: block;
    }
}