.page-top {
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

@media screen and (max-width: 960px) {
  .page-top {
    display: block;
    position: relative;
  }
  Header, Nav {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .page-top {
    position: relative;
  }
}